# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/workwtgz/khalo"
PassengerBaseURI "/khalo"
PassengerNodejs "/home/workwtgz/nodevenv/khalo/10/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END